*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:white;
}
.mainContainer{
    width:400px;
    height:600px;
    background-color:#011533;
    display:flex;
    border-radius:25px;
    flex-direction: column;
    margin:auto;
}

.resultPane{
    font-size:50px;
    flex:1 auto;
    display:flex;
    align-items:flex-end;
    min-height:180px;
}
.buttonContainer{
    flex:3 auto;
    display:flex;
    margin:10px;
    margin-bottom:20px;
}
.operatorRow{
    display:flex;
    flex-direction: column;
    width:25%;
}
.numberRow{
    display:flex;
    flex-direction:column;
    width:25%;
}

.btn, .equalBtn{
    flex:1 auto;
    margin:5px;
    border-radius: 10px;
    font-size:20px;
    background-color:#022a66;
}

.operatorBtn{
    background-color: #024ab5;
}
.inputDisplay{
    flex:1 auto;
    text-align:end;
    margin-right:1em;
}
h1{
    color:black;
    text-align: center;
}